
.section{
    width: 1280px;
    margin: 0 auto;
    font-family: sans-serif;
}
.header-logo{
    margin-top: 61px;
    margin-bottom: 38px;
}

.header-logo a {
    font-family: Roboto;
    font-size: 80px;
    line-height: 94px;
    color:#000000;
    text-decoration: none;

}
.span{
    color:#4BCAFF ;
}
.header-nav {
    background-color: #35444F;
    padding: 0 70px;
    display: flex;
    justify-content: center;
  }
  
  .link {
    padding: 26px 38px 19px 38px;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    display: inline-block;
    border-left: 1px solid #fff;
  }
  
  .link:hover {
    background-color: #222F3A;
  }
  .conteiner{
      margin-top: 50px;
      display: flex;
  }
  .menu-left{
    border: 1px solid #000000;
    width: 344px;
    align-self: baseline;
    padding-left: 0;
  }
  .menu-link{
    font-size: 27px;
    line-height: 27px;
    color: #495863;
    text-decoration: none;
  }
  .menu-content:hover{
    color: #35444F;
    background: #DBDBDB;
    padding-left:54px ;
    
  }
  .menu-content{
    list-style-type: none;
    height: 81px;
    display: flex;
    align-items: center;
    padding-left: 44px;
    transition: 0.5s ease-in;
    
  }
  .conteiner__img{
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
    margin-left: 52px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .conteiner__img:hover .img{
    transform: scale(1.2);
  }
  .img{
    transition: 0.3s;
  }
  .conteiner-text{
      width: 885px;
      margin-left:auto;

  }
  .text{
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 35px;
  }
  .footer{
    background-color: #63696e;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 30px;
  }
  .nav{
    width: 928px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .nav__link {
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    padding: 16px 0;
    text-decoration: none;

    border-bottom: 1px solid transparent;
  }
  .nav__link:hover{
    color:#3181a6;
    border-color: #3181a6;
  }
  
